config gateway
	option ifname 'br-lan'
	option port 2060
	option ssl_port 8443
	option checkinterval 30
 
config authserver
    option host '192.168.0.100'
    option path '/wifidog/'
    option login_path 'login?'
    option portal_path 'portal?'
    option msg_path 'gw_message.php?'
    option ping_path 'ping?'
    option auth_path 'auth?'

config popular_server
    list server 'www.baidu.com'
    list server 'qq.com'
        
